h1{
text-align:center;
}

p{
color:blue;
background-color:orange;
}

#ex_id{
color:yellow;
background-color:green;
}

.ex_cls{
color:violet;
background-color:blue;
}
.one{
color:black;
background-color:cyan;
}
